@import "./common.css";
@import "./dark.css";
@import "./light.css";

:root {
}

/*
  possible colors classes from theme
*/
.text {
  color: var(--text-primary);
}

.text.text-primary {
  color: var(--text-primary);
}

.text.text-secondary {
  color: var(--text-secondary);
}

.text.text-tertiary {
  color: var(--text-tertiary);
}

.text.text-error {
  color: var(--text-error);
}

.text.text-secondary-active {
  color: var(--text-secondary-active);
}

.text.text-secondary-link {
  color: var(--text-secondary-link);
}

.text.text-primary-link {
  color: var(--text-primary-link);
}

.text.text-buy {
  color: var(--text-buy);
}

.text.text-sell {
  color: var(--text-sell);
}
