html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: center / cover no-repeat url("assets/glow-up.png"), #031a28 35% !important;
}

.App {
  text-align: center;
  color: #e5e5e5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
.custom-tab-list {
  display: flex;
  width: 100%;
}
.custom-tab {
  flex: 1;
  padding: 0;
  list-style-type: none;
}
.custom-tab__active {
  background: none;
}
.react-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tabs-content__active {
  flex: 1;
}
